@model IEnumerable<PimViii.Models.Endereco>

@{
    ViewData["Title"] = "Index";
}

<h1>Cadastro</h1>

<p>
    <a asp-action="Create">Adicionar Novo Endereço</a>
</p>

<form asp-controller="Enderecoes" asp-action="Index" method="get">
    <p>
        Titulo: <input type="text" name="searchString" />
        <input type="submit" value="Buscar" />
    </p>
</form>

    <table class="table-responsive">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Logradouro)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Numero)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cep)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Bairro)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cidade)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Estado)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Logradouro)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Numero)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cep)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Bairro)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cidade)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Estado)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.EnderecoId">Editar</a> |
                        <a asp-action="Details" asp-route-id="@item.EnderecoId">Detalhes</a> |
                        <a asp-action="Delete" asp-route-id="@item.EnderecoId">Excluir</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
