@model PimViii.Models.Pessoa

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes da Tabela</h1>

<div>
    <h4>Pessoa</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomePessoa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomePessoa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cpf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cpf)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PessoaId">Editar</a> |
    <a asp-action="Index">Voltar a Lista</a>
</div>
