@model PimViii.Models.TipoTelefone

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes da Tabela</h1>

<div>
    <h4>TipoTelefone</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pessoa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pessoa.NomePessoa)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TipoTelefoneId">Editar</a> |
    <a asp-action="Index">Voltar a lista</a>
</div>
