@model IEnumerable<PimViii.Models.TipoTelefone>

@{
    ViewData["Title"] = "Index";
}

<h1>Cadastro</h1>

<p>
    <a asp-action="Create">Adicionar novo Tipo de Telefone</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pessoa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pessoa.NomePessoa)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TipoTelefoneId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.TipoTelefoneId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.TipoTelefoneId">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
