@model IEnumerable<PimViii.Models.Telefone>

@{
    ViewData["Title"] = "Index";
}

<h1>Telefone</h1>

<p>
    <a asp-action="Create">Gerar novo item na tabela</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Numero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DDD)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoTelefones)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DDD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoTelefones.Tipo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TelefoneId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TelefoneId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TelefoneId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
